@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
    font-family: 'Poppins';
}

body,
#main{
    width: 400px;
    height: 500px;
}

#main > :nth-child(1){
    display: flex;
    flex-direction: row;
    font-size: 15px;
    justify-content:space-between;
    margin: 13px
}


#main > :nth-child(2){
    height:100px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

#main > :nth-child(3){
    background-color: aqua;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main > :nth-child(3) button{
    background: none;
    border: solid 1px black;
    border-radius: 20px;
    width:60px;
}

